ETH_ROPSTEN_ALCHEMY_API_KEY="(Your Alchemi Ropsten EthereumV1 TestNet A.P.I. Key. ONLY THE KEY, NOT THE ENTIRE URL.)"
ETH_RINKEBY_ALCHEMY_API_KEY="(Your Alchemi RINKEBY EthereumV1 TestNet A.P.I. Key. ONLY THE KEY, NOT THE ENTIRE URL.)"
ETH_MAINNET_ALCHEMY_API_KEY="(Your Alchemi EthereumV1 MainNet A.P.I. Key. ONLY THE KEY, NOT THE ENTIRE URL.)"
ROPSTEN_PUBLIC_ADDRESS="(Your Ethereum  Ropsten TestNet Wallet Address. The Ethereum account associated with PRIVATE_KEY needs to have enough funds to cover gas costs, which can be high.)"
ROPSTEN_PRIVATE_KEY="(Your Ethereum  Ropsten TestNet Wallet Private Key. The Ethereum account associated with PRIVATE_KEY needs to have enough funds to cover gas costs, which can be high.)"
ETH_MAINNET_PRIVATE_KEY="(Your Ethereum  MainNet Wallet Private Key. The Ethereum account associated with PRIVATE_KEY needs to have enough funds to cover gas costs, which can be high.)"

POLYGON_TESTNET_ALCHEMY_API_KEY="(Your Alchemi Polygon TestNet A.P.I. Key. ONLY THE KEY, NOT THE ENTIRE URL.)"
POLYGON_MAINNET_ALCHEMY_API_KEY="(Your Alchemi Polygon MainNet A.P.I. Key. ONLY THE KEY, NOT THE ENTIRE URL.)"
POLYGON_TESTNET_PUBLIC_ADDRESS="(Your Polygon TestNet Wallet Address. The Ethereum account associated with PRIVATE_KEY needs to have enough funds to cover gas costs, which can be high.)"
POLYGON_MAINNET_PUBLIC_ADDRESS="(Your Polygon MainNet Wallet Address. The Ethereum account associated with PRIVATE_KEY needs to have enough funds to cover gas costs, which can be high.)"
POLYGON_TESTNET_PRIVATE_KEY="(Your Polygon TestNet Wallet Private Key. The Ethereum account associated with PRIVATE_KEY needs to have enough funds to cover gas costs, which can be high.)"
POLYGON_MAINNET_PRIVATE_KEY="(Your Polygon  MainNet Wallet Private Key. The Ethereum account associated with PRIVATE_KEY needs to have enough funds to cover gas costs, which can be high.)"
